body{
background-color: LemonChiffon;
}
h1{
font-size: 100;
font-family: Pacifico;
text-align: center;
}
p{
font-size: 20;
}
button{
font-size: 20;
background-color: #fff7b3;
font-family: Noto Sans;
}
fieldset{
background-image: url("https://raw.githubusercontent.com/kutuptilkisi/kutuptilkisi.github.io/main/assets/arkaplan.png");
border-color: rgb(255 204 0);
border-width: 12px;
}
h2{
font-size: 40;
font-family: Noto Sans;
}
iframe{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px;
}
